{% extends 'base.html' %}

{%block title%}KRYSA{%endblock title%}

{% block obsah %}

<h1>KRYSA</h1>
<div class="image-with-text">
    <img src="{{ url_for('static', filename='krysa_1.jpg')}}" alt = "obrazek" >
    <p class ="penis">Krysa je poměrně velký hlodavec s dlouhým lysým ocasem. Krysa obecná má ocas delší než tělo, ale pro další druhy krys to nemusí platit. Krysy jsou býložravci nebo všežravci. Rychle se rozmnožují a bývají hojné. Přesto se i mezi krysami nacházejí ohrožené a kriticky ohrožené druhy. Krysy mají skvěle vyvinuté smysly, zejména čich.[1]

    Krysa obecná je invazní druh původem z Asie, ale v současnosti je na českém území spíše vytlačována potkanem. (Zatímco krysa obecná je na českém území známa již přes 2000 let[zdroj?], potkan se rozšířil až v 18. století.)

    </p>
</div>
{% endblock obsah %}