{% extends 'base.html' %}

{%block title%}VZKAZY{%endblock title%}

{%block obsah%}

<h2>Vložte vzkaz</h2>
<form method = "post">
    <textarea name = "vzkaz" rows = "25" cols = "80">ahoj</textarea>
    <p>
        <button type = "reset">Vymazat</button>
        <button type = "submit">Odeslat</button>
    </p>
</form>

<h2>Nástěnka</h2>


{% for login, body, datetime, id in response %}
    <div class = "zprava">
        <p class = "hlavicka"><strong>{{login}}</strong> -- {{d.fromisoformat(datetime).strftime('%d.%_m.%Y %H:%M')}}</p>
        <pre class = "telo"> {{body }}</pre>
        {% if session ['user'] == login %}
            <form action = "">
                <input type = "hidden", name = "id", value = "{{id}}">
                <button type = "submit">Vymazat</button>
            </form>
        {%endif%}
    </div>
{%endfor%}



{%endblock obsah%}